[package]
name = "packetvisor"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
doctest = false

[build-dependencies]
bindgen = "0.65.1"

[dependencies]
libc = "0.2.142"
pnet = "0.33.0"
signal-hook = "0.3.15"
num-traits = "0.2"
num-derive = "0.3"
clap = "4.3.4"
