<packetvisor>
	<umem>
			<frames>4096</frames>
	</umem>
	<xdp dev="veth0">
		<mac>06:d5:70:51:5b:78</mac>
		<pcap>/tmp/pv</pcap>
		<mode>auto</mode> <!-- auto, skb, native, offload -->
		<polling>false</polling>
		<copy>copy</copy> <!-- copy, zero -->
		<program>pv.o</program>
		<section>xdp_sock</section>
		<queue>0</queue>
		<packetlet>
			<path>examples/loadbalancer/loadbalancer.so</path>
			<arg>192.168.0.100</arg> <!-- IPv4 address -->
			<arg>255.255.255.0</arg> <!-- Netmask -->
			<arg>192.168.0.254</arg> <!-- Gateway address -->
			<arg>examples/loadbalancer/lb_config.xml</arg> <!-- Loadbalancer configuration file path -->
		</packetlet>
	</xdp>
	<xdp dev="veth1">
		<mac>4a:6c:7a:2c:cd:af</mac>
		<pcap>/tmp/pv2</pcap>
		<mode>auto</mode> <!-- auto, skb, native, offload -->
		<polling>false</polling>
		<copy>copy</copy> <!-- copy, zero -->
		<program>pv.o</program>
		<section>xdp_sock</section>
		<queue>0</queue>
		<packetlet>
			<path>examples/loadbalancer/loadbalancer.so</path>
			<arg>10.0.0.10</arg> <!-- IPv4 address -->
			<arg>255.255.255.0</arg> <!-- Netmask -->
			<arg>10.0.0.254</arg> <!-- Gateway address -->
		</packetlet>
	</xdp>
</packetvisor>
