<packetvisor>
	<umem>
			<frames>4096</frames>
	</umem>
	<xdp dev="veth">
		<mac>06:d5:70:51:5b:78</mac>
		<pcap>/tmp/pv</pcap>
		<mode>auto</mode> <!-- auto, skb, native, offload -->
		<polling>false</polling>
		<copy>copy</copy> <!-- copy, zero -->
		<program>pv.o</program>
		<section>xdp_sock</section>
		<queue>0</queue>
		<packetlet>
			<path>examples/forward/forward.so</path>
			<arg>192.168.0.20</arg>
			<arg>2</arg>
		</packetlet>
	</xdp>
	<xdp dev="veth2">
		<mac>4a:6c:7a:2c:cd:af</mac>
		<pcap>/tmp/pv2</pcap>
		<mode>auto</mode> <!-- auto, skb, native, offload -->
		<polling>false</polling>
		<copy>copy</copy> <!-- copy, zero -->
		<program>pv.o</program>
		<section>xdp_sock</section>
		<queue>0</queue>
		<packetlet>
			<path>examples/forward/forward.so</path>
			<arg>192.168.0.10</arg>
			<arg>1</arg>
		</packetlet>
	</xdp>
</packetvisor>
